<section id="popUp">
    <div class="card p-5 mx-auto">
      <span class="card-title pb-3"
        >Choose the type of algoritms :</span
      >
      <ul class="list-group list-group-flush m-auto">
        <li class="list-group-item">
          <div class="pretty p-icon p-round p-jelly edit">
            <input type="radio" name="algoradio" id="firstCheckBox" />
            <label for="firstCheckBox">Interpolation Search</label>
            <div class="state p-primary">
              <i class="icon mdi mdi-check" style="background-color: #2f3640;"></i>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="pretty p-icon p-round p-jelly edit">
            <input type="radio" name="algoradio" id="secondCheckBox" />
            <label for="secondCheckBox">Jump Search</label>
            <div class="state p-primary">
              <i class="icon mdi mdi-check" style="background-color: #2f3640;"></i>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="pretty p-icon p-round p-jelly edit">
            <input type="radio" name="algoradio" id="thirdCheckBox" />
            <label for="thirdCheckBox">Binary Search</label>
            <div class="state p-primary">
              <i class="icon mdi mdi-check" style="background-color: #2f3640;"></i>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="pretty p-icon p-round p-jelly edit">
            <input type="radio" name="algoradio" id="fourthCheckBox" />
            <label for="fourthCheckBox">Linear Search</label>
            <div class="state p-primary">
              <i class="icon mdi mdi-check" style="background-color: #2f3640;"></i>
            </div>
          </div>
        </li>
      </ul>
      <button><a href="/output" class="btn btn-dark popUpButton mx-auto">Submit</a></button>
    </div>
  </section>