<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Font awesome -->
    <script
      src="https://kit.fontawesome.com/36c86b628a.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat&family=Montserrat+Subrayada&family=Ribeye+Marrow&family=Sacramento&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <!-- pretty and MDI -->
    <link
      rel="stylesheet"
      href="@mdi/font/css/materialdesignicons.css"
    />
    <link
      rel="stylesheet"
      href="pretty-checkbox/dist/pretty-checkbox.css"
    />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"> -->
    <!-- favicon -->
    <link rel="icon" href="favicon.ico" />
    <!-- external CSS -->
    <link rel="stylesheet" href="styles.css" />
    <title>Dictionary</title>
  </head>