<%- include("partials/top"); -%>
  <body onload="hide_loading2()">
    <div class="load_div"><img class="load" src="Ball-1.3s-200px.svg" alt=""></div>
    <section class="mainBody">
    
    <section id="navigation">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/"
          ><span style="font-family: 'Ribeye Marrow', cursive;">D</span
          >ictionary.</a
        >
        <button
          class="navbar-toggler navbar-light"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li
              class="nav-item btn btn-dark knowMoreButton"
            >
              <a class="nav-link" href="/know-more">Know more ></a>
            </li>
          </ul>
        </div>
      </nav>
    </section>
    <section id="searchBar">
      <div class="search-box mx-auto">
        <form method="post" action="/selectAlgorithm">
          <input
            method="post"
            name="input"
            action=""
            class="input-box"
            type="text"
            id="word_input"
            autocomplete="off"
            placeholder="Search"
          />
          <button type="submit" class="button" href="" id="searchbtn">
            <i class="fas fa-search"></i>
          </button>
        </form>
        <script>
          var input = document.getElementById("word_input");

          input.addEventListener("keyup", function (event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
              // Cancel the default action, if needed
              event.preventDefault();
              // Trigger the button element with a click
              document.getElementById("searchbtn").click();
            }
          });
        </script>
      </div>
    </section>
    <section id="tagLine">
      Wanna search a meaning ? ... Here you go !
    </section>
<%- include("partials/developers"); -%>
    <script src="file.js"></script>
<%- include("partials/bottom"); -%>