<%- include("partials/top"); -%>
  <body onload="hide_loading()">
    <div class="load_div"><img class="load" src="Ball-1.3s-200px.svg" alt=""></div>
    <section class="mainBody">
    <section id="navigation"> 
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/"><span style="font-family: 'Ribeye Marrow', cursive;">D</span>ictionary.</a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item btn btn-dark knowMoreButton">
                    <a class="nav-link" href="/">Home ></a>
                  </li>
              </ul>
            </div>
          </nav>
    </section>
    <section id="know-more-carousel" class="carousel slide" data-ride="false" interval="5000">
        <div class="carousel-inner">
          <div class="carousel-item active container-fluid">
            <img class="know-more-image" src="images/Slide1.PNG"  />
          </div>
          <div class="carousel-item container-fluid">
            <img class="know-more-image" src="images/Slide2.PNG" >
          </div>
          <div class="carousel-item container-fluid">
            <img class="know-more-image" src="images/Slide3.PNG" >
          </div>
          <div class="carousel-item container-fluid">
            <img class="know-more-image" src="images/Slide4.PNG" >
          </div>
          <div class="carousel-item container-fluid">
            <img class="know-more-image" src="images/Slide5.PNG" >
          </div>
          <div class="carousel-item container-fluid">
            <img class="know-more-image" src="images/Slide6.PNG" >
          </div>
          <div class="carousel-item container-fluid">
            <img class="know-more-image" src="images/Slide7.PNG" >
          </div>
          <div class="carousel-item container-fluid">
            <img class="know-more-image" src="images/Slide8.PNG" >
          </div>
          <div class="carousel-item container-fluid">
            <img class="know-more-image" src="images/Slide9.PNG" >
          </div>
          <div class="carousel-item container-fluid">
            <img class="know-more-image" src="images/Slide10.PNG" >
          </div>
          <div class="carousel-item container-fluid">
            <img class="know-more-image" src="images/Slide11.PNG" >
          </div>
        </div>
        <a class="carousel-control-prev" href="#know-more-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>          
        </a>
        <a class="carousel-control-next" href="#know-more-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
    </section>
<%- include("partials/developers"); -%>
    <script src="file.js"></script>
<%- include("partials/bottom"); -%>