<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Font awesome -->
    <script
      src="https://kit.fontawesome.com/36c86b628a.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat&family=Montserrat+Subrayada&family=Ribeye+Marrow&family=Sacramento&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- favicon -->
    <link rel="icon" href="favicon.ico">
    <!-- external CSS -->
    <link rel="stylesheet" href="styles.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <section id="navigation"> 
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/"><span style="font-family: 'Ribeye Marrow', cursive;">D</span>ictionary.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item btn btn-dark col-lg-12 col-sm-4 mx-auto knowMoreButton">
                    <a class="nav-link" href="">Know more ></a>
                  </li>
              </ul>
            </div>
          </nav>
    </section>
    <section id="stickySearchBar">
        <div class="sticky-search-box mx-auto">
            <form method="post" action="/uploaded">
              <input method="post" name="input" action="/uploaded" class="sticky-input-box" type="text" id="word_input" autocomplete="off" 
                placeholder="Search" />
              <a class="sticky-button" onclick="callPopUp()" href="#" id="searchbtn">
                <i class="fas fa-search"></i>
              </a>
            </form>
            <script>
              var input = document.getElementById("word_input");
          
                input.addEventListener("keyup", function (event) {
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                  // Cancel the default action, if needed
                  event.preventDefault();
                  // Trigger the button element with a click
                  document.getElementById("searchbtn").click();
                }
              });
            </script>
          </div>
    </section>
    <section id="meaningSection">
        <!--sub division of top1 containing cards of meaning and table of algorithm-->
        <p class="word overflow" id="displayword">anonymous</p>
        <!--word-->
        <hr>
        <p class="overflow">Execution time : <span id = "exectime">88.88s</span></p>
        <!--time-->
        <!--meaning-->
        <p class="meaning overflow" id = "meaning">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non tellus orci ac auctor augue mauris augue neque gravida. Est pellentesque elit ullamcorper dignissim. Natoque penatibus et magnis dis. Egestas sed tempus urna et pharetra pharetra. Accumsan tortor posuere ac ut consequat semper viverra nam. A diam sollicitudin tempor id eu nisl nunc mi. Orci sagittis eu volutpat odio facilisis mauris sit. Sodales ut eu sem integer vitae justo eget magna. Mattis rhoncus urna neque viverra justo nec. Enim sed faucibus turpis in eu mi bibendum neque. Pellentesque eu tincidunt tortor aliquam nulla. A erat nam at lectus urna duis. Lacinia at quis risus sed. Et egestas quis ipsum suspendisse ultrices gravida.
        </p>
    </section>
    <section id="timeSection" class="card">
        <table>
            <tr>
              <th>
                Algorithm
              </th>
              <th>
                Time taken
              </th>
            </tr>
            <tr>
              <td>
                <hr>
              </td>
              <td>
                <hr>
              </td>
            </tr>
            <tr>
              <td>
                Linear Search
              </td>
              <td id = "t1">time1</td>
            </tr>
            <tr>
              <td>
                Binary Search
              </td>
              <td id = "t2">time2</td>
            </tr>
            <tr>
              <td>
                Interpolation Search
              </td>
              <td id = "t3">time3</td>
            </tr>
            <tr>
              <td>Jump Search</td>
              <td id = "t4">time4</td>
            </tr>
          </table>
    </section>
    <section id="graphSection">
        <p class="graph-titles">Line chart</p>
        <canvas id="chartjs-1" class="chartjs" width="962" height="481" style="display: block; height: 385px; width: 770px;"></canvas>
        <hr class="graph-separator">
        <p class="graph-titles">Bar chart</p>
        <canvas id="chartjs-2" class="chartjs" width="962" height="481" style="display: block; height: 385px; width: 770px;"></canvas>
    </section>
    <section id="developers">
        <p class="developersHeading"><span style="font-family: 'Ribeye Marrow', cursive;">D</span>evelopers</p>
      <div class="row mx-auto">
        
            <div class="flip-container col-lg-3 col-md-4 col-sm-6" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                <div class="front">
                  <!-- front content -->
                  <div class="contri_front">
                    <span class="contri_content_front container-fluid"><i class="far fa-user-circle fa-3x pr-3"></i> <br> <br>Hemanth Krishna<br>19BCT0230</span>
                  </div>
                </div>
                <div class="back">
                  <!-- back content -->
                  <div class="contri_back"><br /><span class="contri_content_back container-fluid"><i class="fas fa-code fa-3x pr-3"></i><br> <br>Backend</span><br /></div></div>
                </div>
            </div>
            <div class="flip-container col-lg-3 col-md-4 col-sm-6" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                  <div class="front">
                    <!-- front content -->
                    <div class="contri_front">
                      <span class="contri_content_front container-fluid"><i class="far fa-user-circle fa-3x pr-3"></i> <br> <br>Parth Namdev<br>19BCE0440</span>
                    </div>
                  </div>
                  <div class="back">
                    <!-- back content -->
                    <div class="contri_back"><br /><span class="contri_content_back container-fluid"><i class="fas fa-edit fa-3x pr-3"></i><br><br>Frontend</span><br /></div></div>
                  </div>
              </div>
              <div class="flip-container col-lg-3 col-md-4 col-sm-6" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                  <div class="front">
                    <!-- front content -->
                    <div class="contri_front">
                      <span class="contri_content_front container-fluid"><i class="far fa-user-circle fa-3x pr-3"></i><br><br>Aryak Roy<br>19BCE2165</span>
                    </div>
                  </div>
                  <div class="back">
                    <!-- back content -->
                    <div class="contri_back"><br /><span class="contri_content_back container-fluid"><i class="fas fa-edit fa-3x pr-3"></i><br><br>Frontend</span><br /></div></div>
                  </div>
              </div>
              <div class="flip-container col-lg-3 col-md-4 col-sm-6" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                  <div class="front">
                    <!-- front content -->
                    <div class="contri_front">
                      <span class="contri_content_front container-fluid"><i class="far fa-user-circle fa-3x pr-3"></i><br><br>Nupoor Raj<br> 19BCE2145</span>
                    </div>
                  </div>
                  <div class="back">
                    <!-- back content -->
                    <div class="contri_back"><br /><span class="contri_content_back container-fluid"><i class="fas fa-file-alt fa-3x pr-3"></i><br><br>Documentation <br>and <br>Research</span><br/></div></div>
                  </div>
              </div>
            
    </div>
    </section>
    <div class="footer"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>